<div class="game-container">
  <div class="controls">
    <div class="control-group">
      <label>{{ 'GAMES.BRICK_BREAKER.SPEED' | translate }}: {{ speed }}</label>
      <input type="range" min="1" max="10" [(ngModel)]="speed" (input)="updateSpeed()">
    </div>
    <div class="control-group">
      <label>{{ 'GAMES.BRICK_BREAKER.BALLS' | translate }}: {{ ballCount }}</label>
      <input type="range" min="1" max="10" [(ngModel)]="ballCount" (input)="updateBallCount()">
    </div>
    <div class="control-group">
      <label>{{ 'GAMES.BRICK_BREAKER.COLLISION_SOUND' | translate }}</label>
      <input type="file" accept="audio/*" (change)="onSoundUpload($event)">
    </div>
  </div>
  <canvas #gameCanvas width="480" height="320"></canvas>

  <div class="leaderboard-slot">
    <app-game-leaderboard juego="BRICK_BREAKER"></app-game-leaderboard>
  </div>
</div>
